<div id="footer"> 
  <div id="footer_container"> 
    <div class="footer_column1"> 
      <h3>Site Links</h3> 
      <ul> 
        <li><a href="#">What is Muck Your App?</a></li> 
        <li><a href="#">How It Works</a></li> 
        <li><a href="#">Plans &amp; Pricing</a></li> 
      </ul>
    </div>
    <div class="footer_column1"> 
      <h3>About Us</h3> 
      <ul> 
        <li><a href="#">Link1</a></li> 
        <li><a href="#">Link2</a></li> 
        <li><a href="#">Link3</a></li> 
        <li><a href="#">Link4</a></li> 
      </ul> 
    </div>
    <div class="footer_column1"> 
      <h3>Help</h3> 
      <ul> 
        <li><a href="#">Link1</a></li> 
        <li><a href="#">Link2</a></li> 
        <li><a href="#">Link3</a></li> 
        <li></li> 
      </ul> 
    </div>
    <div align="right" id="footer_column2">     
      &copy; Copyright 2011 Muck Your App. <br /> 
      All rights reserved
    </div>
  </div>
</div>
<div class="block" align="center">
   <%= locale_link 'Deutsch', 'de' %>
 | <%= locale_link 'English', 'en' %>
 | <%= locale_link 'Español', 'es' %>
 | <%= locale_link 'Français', 'fr' %>
 | <%= locale_link 'Nederlands', 'nl' %>
 | <%= locale_link 'Русский язык', 'ru' %>
 | <%= locale_link '中文', 'zh' %>
 | <%= locale_link '日本語', 'ja' %>
</div>